#question {
    font-weight:bold;
    color: black;
}

#ans0 {
    color:black
}

#ans1 {
    color:black
}

#ans2 {
    color:black
}

#ans3 {
    color:black
}

#ans4 {
    color:black
}

h1 {
    font-family:"arial", cursive, sans-serif;
color:black;
}